@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700');
@import "top-section.css";
@import "services-section.css";
@import "portfolio-section.css";
@import "experience-section.css";
@import "blog-section.css";
@import "testimonial-section.css";
@import "footer-section.css";

body {
    background: #white;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}


@media only and screen and (max-width: 960px) {
    .container {
        width: 100%;
    }

}

/* Phones */

@media only and screen and (max-width: 767px) {}