#portfolio-section {
    padding: 80px 15px;

}

#portfolio-section .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#portfolio-section .title .square {
    background: #ffeded;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 23px;
}

#portfolio-section .title h1 {
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    z-index: 1;
    letter-spacing: 4px;
}

#portfolio-section .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#portfolio-section .portfolio-container .box {
    background: black;
    display: block;
    padding: 40px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    height: 200px;
    width: 100%;
}

#portfolio-section .portfolio-container .box:hover {
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
}

#portfolio-section .portfolio-container .box .image1 {
    background: yellow;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}