#portfolio-projects {
    padding: 100px 15px;
}

#portfolio-projects h1 {
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 1.5rem;
}

#portfolio-projects .info .buttons {
    padding: 20px 0;
}

#portfolio-projects .info .buttons a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    background: black;
    text-decoration: none;
    text-transform: capitalize;
}

#portfolio-projects p {
    display: inline-block;
    border-radius: 3px;    
    color: #929294;
    font-size: 1.2rem;
    line-height: 1.7;
    text-decoration: none;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

#portfolio-projects .technologies {
    
}

#portfolio-projects .technologies h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

#portfolio-projects .technologies .icons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

#portfolio-projects .technologies .icon img {
    width: 100%;
    max-width: 150px;
}
